
<form action="/notifications" method="post">
<p>Unsubscribe from all push notifications:</p>
  <button 
    id="unsubscribe"
    name="unsubscribe" 
    value="unsubscribe" 
    onClick="window.dispatchEvent(new Event('unsubscribe'))"
    
    {{#if subscription.subscribed}}
    {{else}}
    checked=true
    {{/if}}>Unsubscribe</button>
</form>
