<main id="notifications">
  <h1>notifications</h1>

  {{#if subscription.statusmessage }}
  <div class="container">
    {{> notifications-statusmessage }}
  </div>
  {{else}}
  {{/if}}

  <div class="container">
    {{> notifications-settings }}
  </div>

  <div class="container">
    {{> notifications-unsubscribe }}
  </div>

  {{#if subscription.subscribed}}
  <div hidden id="wantsnotifications"></div>
  {{else}}
  {{/if}}
</main>
